body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: black;
}

.wrapper {
  text-align: center;
}

.videoLine {
}

.videoDiv {
  display: inline;
  border: 1px solid black;
}
